body {
    font: normal 15pt Arial;
    background-image: linear-gradient(to left, rgb(25, 25, 26), rgb(51, 51, 51));
    color: rgb(65, 55, 3);
}
#card-container {
    text-align: center;
    color: white;
    margin-top: 20px; /* Adicionado para espaço entre o título e a carta */
}

#card {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 300px; /* Reduzido o tamanho para se adequar melhor ao conteúdo */
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    background-image: linear-gradient(to bottom, rgb(64, 138, 199), rgb(1, 93, 168));
    display: table;
    margin: auto;
}

#generate-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    border-radius: 10%;
    transition: background-color 0.3s;
    margin-top: 10px; /* Adicionado para espaço entre a carta e o botão */
}

/*#generate-btn:hover {
    background-color: #00a6ed;
}*/

.card {
    width: 100%; /* Ajustado para ocupar 100% da largura da div */
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
}

.content {
    font-size: 14px;
    text-align: center;
    color: white;
}