body {
    font: normal 15pt Arial;
    background-image: linear-gradient(to left, rgb(25, 25, 26), rgb(51, 51, 51));
    color: rgb(65, 55, 3);
}

#card-container {
    text-align: center;
    color: white;
    margin-top: 20px;
}

#card {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    display: table;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

#generate-btn {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(19, 66, 33);
    color: whitesmoke;
    border-color: whitesmoke;
    width: fit-content;
    border-radius: 4%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.356);
    transition: background-color 0.3s;
    margin-top: 20px;
}

#generate-btn:hover {
    background-color: rgb(20, 150, 60);
}

.card {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Adicionei classes específicas para cada tipo de carta */
.film {
    background-image: linear-gradient(to bottom, rgb(64, 199, 75), rgb(1, 168, 37));
}

.series {
    background-image: linear-gradient(to bottom, rgb(199, 64, 64), rgb(168, 1, 1));
}

.thing {
    background-image: linear-gradient(to bottom, rgb(64, 138, 199), rgb(1, 93, 168));
}

.person {
    background-image: linear-gradient(to bottom, rgb(243, 240, 61), rgb(236, 202, 7));
}

.place {
    background-image: linear-gradient(to bottom, rgb(199, 64, 120), rgb(168, 1, 126));
}

.topic-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
}

.tip {
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
}
