body {
    font: normal 15pt Arial;
    background-image: linear-gradient(to left, rgb(25, 25, 26), rgb(51, 51, 51));
    color: rgb(65, 55, 3);
    margin: 0; /* Remover margens padrão do body */
}

#card-container {
    text-align: center;
    color: white;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic-title,
.topic-name {
    margin: 0;
}

.topic-title {
    color: white;
}

.topic-name {
    margin-top: 5px;
}

.card-content {
    margin-top: 20px;
    text-align: center;
    color: black; /* Adicionado para garantir o texto preto */
}

.film {
    background-image: linear-gradient(to bottom, rgb(64, 199, 75), rgb(1, 168, 37));
}

.series {
    background-image: linear-gradient(to bottom, rgb(199, 64, 64), rgb(168, 1, 1));
}

.thing {
    background-image: linear-gradient(to bottom, rgb(64, 138, 199), rgb(1, 93, 168));
}

.person {
    background-image: linear-gradient(to bottom, rgb(243, 240, 61), rgb(236, 202, 7));
}

.place {
    background-image: linear-gradient(to bottom, rgb(199, 64, 120), rgb(168, 1, 126));
}

.music {
    background-image: linear-gradient(to bottom, rgb(255, 242, 0), rgb(255, 153, 0));
}
